.app{
    width: 100%;
    background-color: #393e46;
    scroll-behavior: smooth;
}

.navigasi{
    position: absolute;
    left: 0;
    float: left;
    position: fixed;
}

.konten{
    width: 100%;
    height: 100%;
    margin-left: 0;
}